<div class="cd-section section-white" id="teams">

<!--     *********    TEAM 1     *********      -->
    <div class="team-1">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">The Patient Forecaster Team</h2>
                    <h5 class="description"></h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="assets/img/jeff.jpg" alt="..."></a>
                        </div>
                        <div class="card-body">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Jeff Wadsworth</h4>
                                    <h6 class="card-category text-muted">CEO</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                Jeff is an experienced leader in techology driven businesses with an aptitude
                                for product strategy and product development. Jeff has navigated multiple technology
                                startups into scalable marketable products within verticals including:
                                energy, cannacis, retail and this latest venture in healthcare technology.
                                 
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <!-- <a href="#pablo" class="btn btn-link btn-just-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-dribbble"><i class="fa fa-dribbble"></i></a> -->
                            <a href="https://www.linkedin.com/in/jeff-wadsworth-13b125b7/" class="btn btn-link btn-just-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card card-profile card-plain">
                        <div class="card-avatar">
                            <a href="#avatar"><img src="assets/img/vijay.jpg" alt="..."></a>
                        </div>
                        <div class="card-body">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h4 class="card-title">Vijay Iyer</h4>
                                    <h6 class="card-category text-muted">Architect</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                            Vijay embraces his intuitive and holistic understanding of how cloud technologies change the way
                            in which software is developed. He is committed to bringing together the expertise of both development and operations
                            into a collaborative environment focused on streamlined and operationally stable end-to-end solutions.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <!-- <a href="#pablo" class="btn btn-link btn-just-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#pablo" class="btn btn-link btn-just-icon btn-dribbble"><i class="fa fa-dribbble"></i></a> -->
                            <a href="https://www.linkedin.com/in/vijay-iyer-45bb32139/" class="btn btn-link btn-just-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-4">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="assets/img/garrick.jpg" alt="..."></a>
                            </div>
                            <div class="card-body">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">Garrick Brown</h4>
                                        <h6 class="card-category text-muted">Advisory Board</h6>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                Garrick is an experienced financial executive, equity investor and entrepreneur
                                with exposure to a broad range of industries including: energy, consumer products, healthcare services,
                                and healthcare technology.
                                </p>
                            </div>
                            <div class="card-footer text-center">
                                <!-- <a href="#pablo" class="btn btn-link btn-just-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-dribbble"><i class="fa fa-dribbble"></i></a> -->
                                <a href="https://www.linkedin.com/in/garrickbrown/" class="btn btn-link btn-just-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md-4">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="assets/img/seth.jpg" alt="..."></a>
                            </div>
                            <div class="card-body">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">Seth Podolsky, MD, MS, FACEP</h4>
                                        <h6 class="card-category text-muted">Advisory Board</h6>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                Dr. Pdolsky received his Master's Degree at The Dartmouth Institute for Health Policy and Clinical Practice and his 
                                Medical Degree from the University of Vermont. He is a board certified Emergency Medicine physician and a Fellow of the American College
                                of Emergency Physicians(FACEP).
                                </p>
                            </div>
                            <div class="card-footer text-center">
                                <!-- <a href="#pablo" class="btn btn-link btn-just-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-dribbble"><i class="fa fa-dribbble"></i></a> -->
                                <a href="https://www.linkedin.com/in/seth-podolsky-md-ms-facep-60b439b0/" class="btn btn-link btn-just-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="assets/img/mark.jpg" alt="..."></a>
                            </div>
                            <div class="card-body">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">Mark Hallman, MHA</h4>
                                        <h6 class="card-category text-muted">Advisory Board</h6>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                Mark brings extensive knowledge around healthcare strategy, innovation and business development. Mark is a seasoned executive whose
                                career has included working with 15 healthcare start-ups as well as serving in a system leadership capacity with Centura Health and most
                                recently the Cleveland Clinic.
                                </p>
                            </div>
                            <div class="card-footer text-center">
                                <!-- <a href="#pablo" class="btn btn-link btn-just-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-dribbble"><i class="fa fa-dribbble"></i></a> -->
                                <a href="https://www.linkedin.com/in/markhallman/" class="btn btn-link btn-just-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>


<!--     *********    TEAM 2     *********      -->
    <!-- <div class="team-2 section-image" style="background-image: url('assets/img/sections/jan-sendereks.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">The Executive Team 2</h2>
                    <h5 class="description">This is the paragraph where you can write more details about your team. Keep you user engaged by providing meaningful information.</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-img-top">
                            <a href="#pablo">
                                <img class="img" src="assets/img/faces/kaci-baum-1.jpg" />
                            </a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Alec Thompson</h4>
                            <h6 class="card-category">Managing Partner</h6>
                            <div class="card-footer">
                                <a href="#pablo" class="btn btn-neutral btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-neutral btn-link btn-just-icon"><i class="fa fa-facebook"></i></a>
                                <a href="#pablo" class="btn btn-neutral btn-link btn-just-icon"><i class="fa fa-dribbble"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-img-top">
                            <a href="#pablo">
                                <img class="img" src="assets/img/faces/clem-onojeghuo-1.jpg" />
                            </a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">George Lincoln</h4>
                            <h6 class="card-category">Backend Hacker</h6>

                            <div class="card-footer">
                                <a href="#pablo" class="btn btn-neutral btn-link btn-just-icon"><i class="fa fa-linkedin"></i></a>
                                <a href="#pablo" class="btn btn-neutral btn-link btn-just-icon"><i class="fa fa-facebook"></i></a>
                                <a href="#pablo" class="btn btn-neutral btn-link btn-just-icon"><i class="fa fa-dribbble"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div class="card-img-top">
                            <a href="#pablo">
                                <img class="img" src="assets/img/faces/joe-gardner-1.jpg" />
                            </a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Sophie West</h4>
                            <h6 class="card-category">Photographer</h6>

                            <div class="card-footer">
                                <a href="#pablo" class="btn btn-neutral btn-link btn-just-icon"><i class="fa fa-dribbble"></i></a>
                                <a href="#pablo" class="btn btn-neutral btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-neutral btn-link btn-just-icon"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


<!--     *********    TEAM 3     *********      -->
    <!-- <div class="team-3">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">The Executive Team 3</h2>
                    <h5 class="description">This is the paragraph where you can write more details about your team. Keep you user engaged by providing meaningful information.</h5>
                </div>
            </div>
            <div class="space-top"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-profile card-plain">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="card-img-top">
                                    <a href="#pablo">
                                        <img class="img" src="assets/img/faces/clem-onojeghuo-3.jpg" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="card-body text-left">
                                    <h4 class="card-title">Alec Thompson</h4>
                                    <h6 class="card-category">Founder</h6>
                                    <p class="card-description">
                                        Individual commitment to a group effort – that’s what makes a team work, a society work...
                                    </p>
                                    <div class="card-footer pull-left">
                                        <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
                                        <a href="#pablo" class="btn btn-just-icon btn-link btn-facebook"><i class="fa fa-facebook"></i></a>
                                        <a href="#pablo" class="btn btn-just-icon btn-link btn-google"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card card-profile card-plain">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="card-img-top">
                                    <a href="#pablo">
                                        <img class="img" src="assets/img/faces/ayo-ogunseinde-2.jpg" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="card-body text-left">
                                    <h4 class="card-title">Ethan Smith</h4>
                                    <h6 class="card-category">Founder</h6>
                                    <p class="card-description">
                                        Don't be scared of the truth because we need to restart the human foundation in truth...
                                    </p>
                                    <div class="card-footer pull-left">
                                        <a href="#pablo" class="btn btn-just-icon btn-link btn-linkedin"><i class="fa fa-linkedin"></i></a>
                                        <a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>
                                        <a href="#pablo" class="btn btn-just-icon btn-link btn-pinterest"><i class="fa fa-pinterest"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card card-profile card-plain">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="card-img-top">
                                    <a href="#pablo">
                                        <img class="img" src="assets/img/faces/clem-onojeghuo-2.jpg" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="card-body text-left">
                                    <h4 class="card-title">Lucas Andrew</h4>
                                    <h6 class="card-category">Web Designer</h6>
                                    <p class="card-description">
                                        I love you like Kanye loves Kanye. Don't be scared of the truth. Kanye loves himself like Kanye loves Kanye.
                                    </p>
                                    <div class="card-footer pull-left">
                                        <a href="#pablo" class="btn btn-just-icon btn-link btn-youtube"><i class="fa fa-youtube"></i></a>
                                        <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
                                        <a href="#pablo" class="btn btn-just-icon btn-link btn-instagram"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card card-profile card-plain">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="card-img-top">
                                    <a href="#pablo">
                                        <img class="img" src="assets/img/faces/kaci-baum-2.jpg" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="card-body text-left">
                                    <h4 class="card-title">Sophie West</h4>
                                    <h6 class="card-category">Backend Hacker</h6>
                                    <p class="card-description">
                                        It is literally true that you can succeed best and quickest by helping others to succeed because they care about.
                                    </p>
                                    <div class="card-footer pull-left">
                                        <a href="#pablo" class="btn btn-just-icon btn-link btn-linkedin"><i class="fa fa-linkedin"></i></a>
                                        <a href="#pablo" class="btn btn-just-icon btn-link btn-instagram"><i class="fa fa-instagram"></i></a>
                                        <a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


<!--     *********    TEAM 4     *********      -->
    <!-- <div class="team-4 section-image" style="background-image: url('assets/img/sections/fabio-mangione.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">The Executive Team 4</h2>
                    <h5 class="description">This is the paragraph where you can write more details about your team. Keep you user engaged by providing meaningful information.</h5>
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-profile">
                        <div class="card-body">
                            <div class="card-avatar">
                                <a href="#avatar">
                                    <img src="assets/img/faces/ayo-ogunseinde-2.jpg" alt="..."/>
                                    <h4 class="card-title">Eric Thomson</h4>
                                </a>
                            </div>
                            <p class="card-description text-center">
                                A group becomes a team when each member is sure enough of himself and his contribution to praise the skill of the others. No one can whistle a symphony. It takes an orchestra to play it.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#pablo" class="btn btn-just-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                            <a href="#pablo" class="btn btn-just-icon btn-dribbble"><i class="fa fa-dribbble"></i></a>
                            <a href="#pablo" class="btn btn-just-icon btn-instagram"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-profile">
                        <div class="card-body">
                            <div class="card-avatar">
                                <a href="#avatar">
                                    <img src="assets/img/faces/joe-gardner-2.jpg" alt="..."/>
                                    <h4 class="card-title">Sophia West</h4>
                                </a>
                            </div>
                            <p class="card-description text-center">
                                The strength of the team is each individual member. The strength of each member is the team. If you can laugh together, you can work together, silence isn’t golden, it’s deadly.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#pablo" class="btn btn-just-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                            <a href="#pablo" class="btn btn-just-icon btn-dribbble"><i class="fa fa-dribbble"></i></a>
                            <a href="#pablo" class="btn btn-just-icon btn-pinterest"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-profile">
                        <div class="card-body">
                            <div class="card-avatar">
                                <a href="#avatar">
                                    <img src="assets/img/faces/clem-onojeghuo-2.jpg" alt="..."/>
                                    <h4 class="card-title">Lucas Andrew</h4>
                                </a>
                            </div>
                            <p class="card-description text-center">
                                Great teams do not hold back with one another. They are unafraid to air their dirty laundry. They admit their mistakes, their weaknesses and their concerns without fear of reprisal.
                            </p>
                        </div>
                        <div class="card-footer text-center">
                            <a href="#pablo" class="btn btn-just-icon btn-youtube"><i class="fa fa-youtube"></i></a>
                            <a href="#pablo" class="btn btn-just-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#pablo" class="btn btn-just-icon btn-instagram"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>-->


<!--     *********    TEAM 5     *********      -->
    <!-- <div class="team-5 section-image" style="background-image: url('assets/img/sections/martin-knize.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">The Executive Team 5</h2>
                    <h5 class="description">This is the paragraph where you can write more details about your team. Keep you user engaged by providing meaningful information.</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-profile card-plain">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="card-img-top">
                                    <a href="#pablo">
                                        <img class="img" src="assets/img/faces/erik-lucatero-2.jpg" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="card-body text-left">
                                    <h4 class="card-title">Andrew Carnegie</h4>
                                    <h6 class="card-category">Project Manager</h6>
                                    <p class="card-description">
                                        If a team is to reach its potential, each player must be willing to subordinate his personal goals.
                                    </p>
                                    <div class="card-footer">
                                        <a href="#pablo" class="btn btn-just-icon btn-link btn-neutral"><i class="fa fa-twitter"></i></a>
                                        <a href="#pablo" class="btn btn-just-icon btn-link btn-neutral"><i class="fa fa-facebook"></i></a>
                                        <a href="#pablo" class="btn btn-just-icon btn-link btn-neutral"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card card-profile card-plain">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="card-img-top">
                                    <a href="#pablo">
                                        <img class="img" src="assets/img/faces/kaci-baum-2.jpg" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="card-body text-left">
                                    <h4 class="card-title">Alec Thompson</h4>
                                    <h6 class="card-category">Founder</h6>
                                    <p class="card-description">
                                        Interdependent people combine their own efforts with the efforts of others to achieve their greatest success.
                                    </p>
                                    <div class="card-footer">
                                        <a href="#pablo" class="btn btn-just-icon btn-link btn-neutral"><i class="fa fa-linkedin"></i></a>
                                        <a href="#pablo" class="btn btn-just-icon btn-link btn-neutral"><i class="fa fa-dribbble"></i></a>
                                        <a href="#pablo" class="btn btn-just-icon btn-link btn-neutral"><i class="fa fa-pinterest"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card card-profile card-plain">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="card-img-top">
                                    <a href="#pablo">
                                        <img class="img" src="assets/img/faces/clem-onojeghuo-3.jpg" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="card-body text-left">
                                    <h4 class="card-title">Gine Andrew</h4>
                                    <h6 class="card-category">Web Designer</h6>
                                    <p class="card-description">
                                        When he took time to help the man up the mountain, lo, he scaled it himself. Sticks in a bundle are unbreakable.
                                    </p>
                                    <div class="card-footer">
                                        <a href="#pablo" class="btn btn-just-icon btn-link btn-neutral"><i class="fa fa-youtube"></i></a>
                                        <a href="#pablo" class="btn btn-just-icon btn-link btn-neutral"><i class="fa fa-twitter"></i></a>
                                        <a href="#pablo" class="btn btn-just-icon btn-link btn-neutral"><i class="fa fa-instagram"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card card-profile card-plain">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="card-img-top">
                                    <a href="#pablo">
                                        <img class="img" src="assets/img/faces/clem-onojeghuo-2.jpg" />
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="card-body text-left">
                                    <h4 class="card-title">George West</h4>
                                    <h6 class="card-category">Backend Hacker</h6>
                                    <p class="card-description">
                                        I love you like Kanye loves Kanye. Don't be scared of the truth because we need to restart the human foundation.
                                    </p>
                                    <div class="card-footer">
                                        <a href="#pablo" class="btn btn-just-icon btn-link btn-neutral"><i class="fa fa-linkedin"></i></a>
                                        <a href="#pablo" class="btn btn-just-icon btn-link btn-neutral"><i class="fa fa-instagram"></i></a>
                                        <a href="#pablo" class="btn btn-just-icon btn-link btn-neutral"><i class="fa fa-dribbble"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
