.second-card{
    background-color:#96d9f2 !important; 
    color:white !important;
}
.second-card .card-category, 
.second-card .card-title,
.second-card b,
.second-card li {
    color: white !important;
}

.first-card  .card-category {
    color: #96d9f2 !important;
}

.first-card  .btn {
    background-color:  #96d9f2 !important;
    border-color:  #96d9f2 !important;
}